@import url(https://fonts.googleapis.com/css?family=Orbitron);
/*@media (max-width: 1440px) and (max-height: 900px) {*/


body {
  font-family: Orbitron;
  width: 100%;
  height: 100%;
}
body {
  background-color: #083645;
}
#footer{
  position: fixed;
  bottom: 0;
  width: 100%;
}
#hidden {
  /*height: 30px;*/
  /*display: absolute;*/
  /*bottom: 0;*/
  /*margin: 0 auto;*/
  /*text-align: center;*/
  margin-left: 1%;
  margin-bottom: 2%;
  /*border: 1px solid green;*/
}
#hiddenContainer {
  /*border: 2px solid yellow;*/
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
}
#testing {
  position: absolute;
  /*display: inline-flex;*/
  width: 48.5%;
  height: 90%;
  margin-left: 25.69%;
  background-color: black;
  opacity: 1;
  /*margin-top: -1%*/
}
#lSideBar {
  position: absolute;
  left: 0;
  /*top: 9%;*/
  width: 25.8%;
  height: 90%;
  border: 1px solid red;
  /*margin-top: -1.4%;*/
}
.navbar {
  margin-bottom: 0;
}
#rSideBar {
  position: absolute;
  right: 0;
  /*top: 9%;*/
  width: 25.8%;
  height: 90%;
  border: 1px solid red;
  /*margin-top: -1.4%;*/
}
#footer {
  height: 52px;
  background-color: #1d2021;
}
.stats {
  text-align: center;
  color: limegreen;
  font-size: 45px;
}
.killed, #usersNameInput, #changeButtons, #sharing, #seconds, #mili {
  text-align: center;
  color: limegreen;
}
.totals {
  font-size: 20px;
}
#scores {
  margin-left: 50px;
  font-size: 25px;
}
#modalButton {
  /*margin-left: 85px;*/
  /*height: 40%;*/
  width: 47%;
  font-size: 15px;
}
#newGame{
  width: 51%;

}
#eKilled, #eScore, #eLives, #eName {
  margin-top: 40px;
  font-size: 25px;
}
#userNameInput {
  margin-left: 71px;
  margin-top: 20px;
}
#play {
  margin-left: 27%;
}
#inputBox {
  padding-top: 20px;
}
#usersNameInput, #changeButtons {
    font-size: 30px;
}
#usersNameInput {
  margin-bottom: -3%;
}
#buttonss {
  margin-left: 50px;
}
#first, #second, #third, #fourth {
  width: 260px;
  display: block;
  margin-top: 20px;
  background-color: darkblue;
  color: white;
}
.fb-share-button {
  margin-left: 150px;
}
.modal-body {
  font-size: 20px;
}
.circle{
  opacity: 0.75;
  -webkit-animation-name: circle;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 100;
}

@-webkit-keyframes circle {
  from {
    -webkit-transform: scale(1.0);
    opacity: 0.75;
  }
  50% {
    -webkit-transform: scale(1.2);
    opacity: 1.0;
  }
  to {
    -webkit-transform: scale(1.0);
    opacity: 0.75;
  }
}
input:focus {
    outline: none !important;
    border:2px solid red;
    box-shadow: 0 0 10px limegreen;
    -webkit-box-shadow: 0px 0px 52px 15px rgba(148,9,9,0.76);
    -moz-box-shadow: 0px 0px 52px 15px rgba(148,9,9,0.76);
    box-shadow: 0px 0px 52px 15px rgba(148,9,9,0.76) ;
    -webkit-transition: all 1.3s ease-out;
    -moz-transition: all 1.3s ease-out ;
    -ms-transition: all 1.3s ease-out ;
    -o-transition: all 1.3s ease-out ;
    transition: all 1.3s ease-out ;
}
.animated {
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}
.pulse {
  animation-name: pulse;
  animation-duration: 1s;
}
#time {
  border: 1px solid limegreen;
  width: 40%;
  margin-left: 28%;
}
/*#playButton {
  display: flex;
}*/
#seconds, #mili {
  margin-left: 5%;
  padding-top: 10px;
  font-size: 25px;
}
.red-text {
  color: red;
}
