@import url(https://fonts.googleapis.com/css?family=Orbitron);
body {
  font-family: Orbitron;
}
body {
  background-color: #083645;
}
#testing {
  position: absolute;
  width: 700px;
  height: 700px;
  margin-left: 25.69%;
  background-color: blue;
  margin-top: -1.40%;
  opacity: 0.3;
}
#lSideBar {
  position: relative;
  left: 0;
  width: 370px;
  height: 701px;
  border: 1px solid black;
  margin-top: -1.4%;
}
#rSideBar {
  position: absolute;
  right: 0;
  top: 72px;
  width: 370px;
  height: 701px;
  border: 1px solid black;
  margin-top: -1.4%;
}
#footer {
  height: 52px;
  background-color: #1d2021;
}
.stats {
  text-align: center;
  color: limegreen;
  font-size: 45px;
}
.killed, #usersNameInput, #changeButtons, #sharing, #s, #ms {
  text-align: center;
  color: limegreen;
}
.totals {
  font-size: 20px;
}
#scores {
  margin-left: 50px;
  font-size: 25px;
}
#modalButton{
  margin-left: 85px;
  font-size: 20px;
}
#eKilled, #eScore, #eLives, #eName {
  margin-top: 35px;
  font-size: 25px;
}
#userNameInput {
  margin-left: 80px;
  margin-top: 20px;
}
#play {
  margin-left: 40px;
}
#inputBox {
  padding-top: 20px;
}
#usersNameInput, #changeButtons {
    font-size: 30px;
}
#buttonss {
  margin-left: 50px;
}
#first, #second, #third, #fourth {
  width: 260px;
  display: block;
  margin-top: 20px;
  background-color: darkblue;
  color: white;
}
.fb-share-button {
  margin-left: 150px;
}
.modal-body {
  font-size: 20px;
}
.circle{
  opacity: 0.75;
  -webkit-animation-name: circle;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: 100;
}

@-webkit-keyframes circle {
  from {
    -webkit-transform: scale(1.0);
    opacity: 0.75;
  }
  50% {
    -webkit-transform: scale(1.2);
    opacity: 1.0;
  }
  to {
    -webkit-transform: scale(1.0);
    opacity: 0.75;
  }
}
input:focus {
    outline: none !important;
    border:2px solid red;
    box-shadow: 0 0 10px limegreen;
    -webkit-box-shadow: 0px 0px 52px 15px rgba(148,9,9,0.76);
    -moz-box-shadow: 0px 0px 52px 15px rgba(148,9,9,0.76);
    box-shadow: 0px 0px 52px 15px rgba(148,9,9,0.76) ;
    -webkit-transition: all 1.3s ease-out;
    -moz-transition: all 1.3s ease-out ;
    -ms-transition: all 1.3s ease-out ;
    -o-transition: all 1.3s ease-out ;
    transition: all 1.3s ease-out ;
}
#playButton {
  display: flex;
}
#s, #ms {
  padding-left: 50px;
  padding-top: 12px;
  font-size: 25px;
}
.red-text {
  color: red;
}
